<!DOCTYPE html>
<html>

<head>
    <title>Página de Login</title>
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
    <style type="text/css">
        form {
            display: flex;
            align-content: center;

            flex-direction: column;
        }
    </style>
</head>

<body>
    <div class=container>

        <div class="row">
            <section class="six collumns" style="width: 50%; margin: auto; margin-top: 200px;">
                <h1> Bem vindo {{username | capitalize}}</h1>
                <form action="">
                    <table>
                        <thead>
                            <tr>
                                <th>Atividade</th>
                                <th>Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for atividade in atividades %}
                            <tr>
                                <td>{{atividade['ativitname']}}</td>
                                <td>{{atividade['date']}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div>
                        <a href="/create/ativit" class="button primary">Nova Atividade</a>
                        <a href="#" class="button primary">Sair</a>
                    </div>
                </form>
        </div>

        </section>
    </div>
    </div>





</body>

</html>